<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/box.css" rel="stylesheet">
    <link href="stylesheets/img.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

    <title>Menu & Shopping Cart</title>

</head>

<body>
    <!-- <div id="pic">
        <div class="imgRow">
            <div class="imgColumn">
                <img src="images/hamburger.jpeg" alt="Snow" height="200px">
            </div>
            <div class="imgColumn">
                <img src="images/CUHK.jpeg" alt="Forest" height="300px">
            </div>
            <div class="imgColumn">
                <img src="images/hamburger.jpeg" alt="Mountains" height="300px">
            </div>
        </div>
    </div> -->


    <!-- <img src="images/hamburger.jpeg" alt="CUHK.jpeg" width="100"> -->
    <h1 style="font-size:100px;"> Foodification </h1>
    <span>
        <img src="images/CUHK.jpeg" alt="CUHK.jpeg" width="300">
    </span>
    <br>
    <div id="menu">
        <div class="menu">

            <div class="board">
                <h1>Today's Menu:</h1>
                <table class="tb">
                    <tr>
                        <th>No.</th>
                        <th>Canteen Name</th>
                        <th>Dish Name</th>
                        <th>Dish Price</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="(value, index) in list">
                        <td>{{ index + 1 }}</td>
                        <td>{{ value.canName}}</td>
                        <td>{{ value.dishName}}</td>
                        <td>{{ value.dishPrice}}</td>
                        <td>
                            <input type="button" class="editButton" @click.prevent="editItem(index)">
                            &nbsp;
                            <input type="button" class="trashButton" @click.prevent="deleteItem(index)">
                            &nbsp;
                            <input type="button" class="cartButton"
                                @click.prevent="addToMyList(index);calculateTotal()">
                        </td>
                    </tr>
                    <tr v-show="list.length ===0">
                        <td colspan="5">No Dish Data</td>
                    </tr>
                </table>
                <br>
                <input type="button" class="textButton" value="Remove All" @click="removeMenu()">
            </div>

            <div class="add">
                <h1> Input Your New Dish Here! </h1>
                <label for="cars">Step 1: Select A Canteen:</label>

                <span class="box">
                    <select v-model="newCanName">
                        <option disabled :value="null">Select A Canteen</option>
                        <option v-for="option in options" :value="option">{{ option }} </option>
                    </select></span>
                <!-- <span>Selected Canteen Name: {{ newCanName }}</span>

                <br>
                Canteen Name:
                <input type="text" class="addingTextBox" v-model="newCanName"
                    placeholder="Input the canteen name of your new item."><br> -->
                <br>
                <label for="cars">Step 2: Select An Existing/Existed Dish:</label>
                <span class="box">
                    <select v-model="newDishName">
                        <option disabled :value="null">Select An Existing/Existed Dish</option>
                        <option v-for="option in dishNameList" :value="option">{{ option }} </option>
                    </select>
                </span><br>

                &nbsp; Or Input the New Dish Name:
                <input type="text" class="addingTextBox" v-model="newDishName" placeholder="Input Here"><br>

                Step 3: Input the New Dish Price:
                <input type="number" class="addingNumBox" step="0.5" v-model="newDishPrice"
                    placeholder="Input Here or Click the Button">
                    <br>

                <input type="button" class="textButton" value="Add Now" @click="addItem()">
            </div>

        </div>

        <div class="cart">

            <div class="board">
                <h1> <strong>Your Shopping Cart: </strong> </h1>
                <div>
                    <table class="tb">
                        <tr>
                            <th>No.</th>
                            <th>Canteen Name</th>
                            <th>Dish Name</th>
                            <th>Dish Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="(value, index) in cartList">
                            <td>{{ index + 1 }}</td>
                            <td>{{ value.canName}}</td>
                            <td>{{ value.dishName}}</td>
                            <td>{{ value.dishPrice}}</td>
                            <td>
                                <input type="button" class="smallButton" value="-" @click="subQuant(index)">
                                <!-- <input type="button" class="smallButton" value="- @click="subQuant(index)"> -->
                                &nbsp;{{ value.quantity}}&nbsp;
                                <!-- <input type="button" class="smallButton" value="+ @click="addQuant(index)"> -->
                                <input type="button" class="smallButton" value="+" @click="addQuant(index)">

                            <td>
                                <input type="button" class="trashButton" @click.prevent="removeFromList(index)">
                            </td>
                        </tr>
                        <tr v-show="cartList.length ===0">
                            <td colspan="6">Your shopping cart is empty.</td>
                        </tr>
                    </table>
                    <p>Total price: {{ result }} HKD.</p>
                </div>
                <input type="button" class="textButton" value="Remove All" @click="removeCart()">
            </div>

            <div class="search">
                <h1> Search Here! </h1>
                Canteen Name:
                <input type="text" class="searchingTextBox" placeholder="Input Search Criteria">
            </div>

        </div>
    </div>

    <!-- <script src="./main.js"></script> -->

    <script src="javascripts/vue.js"></script>
    <script>
        var list = [{
            canName: 'Chung Chi College Student Canteen',
            dishName: 'Siu Mei',
            dishPrice: '20.5',
        }, {
            canName: 'United College Student Canteen',
            dishName: 'Three Dishes',
            dishPrice: '27.3',
        }, {
            canName: 'New Asia College Student Canteen',
            dishName: 'Hot pot',
            dishPrice: '60.4',
        }];

        // var canNameList = ['Chung Chi College Student Canteen', 'United College Student Canteen', 'New Asia College Student Canteen',];
        var dishNameList = ['Siu Mei', 'Three Dishes', 'Hot pot',];
        // var dishPriceList = [20.5, 27.3, 60.4]

        var cartList = [];
        var total = 0;

        var vm = new Vue({
            el: "#menu",
            data: {
                imgSRC: "images/CUHK.jpeg",
                selected: 'NA',
                options: [
                    "Basic Medical Sciences Building Snack Bar",
                    "Benjamin Franklin Centre Coffee Corner",
                    "Benjamin Franklin Centre Staff Canteen",
                    "Benjamin Franklin Centre Student Canteen",
                    "Benjamin Franklin Centre Vegetarian Food Shop",
                    "Café 330",
                    "Canteen of CW Chu College",
                    "Canteen of S.H. Ho College",
                    "Connexion, S.H. Ho College Staff Common Room",
                    "Chung Chi College Staff Club",
                    "Chung Chi College Student Canteen",
                    "Lee Shau Kee Building Snack Bar",
                    "Lee Woo Sing College - Cafe Tolo",
                    "Lee Woo Sing College - The Green",
                    "Lee Woo Sing College - The Harmony",
                    "Lee Woo Sing College - WS Pavilion",
                    "Li Wai Chun Building Café",
                    "Li Wai Chun Building Halal Food Outlet",
                    "Morningside College Café",
                    "Morningside College Dining Hall",
                    "New Asia College Coffee Shop (Coffee Lover Café)",
                    "New Asia College Staff Canteen",
                    "New Asia College Student Canteen",
                    "New Asia College Yun Chi Hsien",
                    "Orchid Lodge",
                    "Pommerenke Student Centre Café (Paper&Coffee)",
                    "Postgraduate Hall 3 Café (Area 39)",
                    "S.H. Ho College Café",
                    "Staff Common Room Clubhouse",
                    "SeeYou@Shaw (with Café)",
                    "The Stage",
                    "United College Si Yuan Amenities Centre",
                    "United College Staff Canteen",
                    "United College Staff Common Room",
                    "United College Student Canteen",
                    "Women Cooperative Store",
                    "Wu Yee Sun College Staff Dining Room",
                    "Wu Yee Sun College Student Canteen"
                ],

                // canNameList:canNameList,
                dishNameList: dishNameList,
                // dishPriceList:dishPriceList,
                list: list,
                cartList: cartList,
                newCanName: "",
                newDishName: "",
                newDishPrice: "",
                total: total,
                result: 0
            },
            methods: {
                removeMenu() {
                    this.list = []
                },
                addItem() {
                    this.list.unshift({
                        canName: this.newCanName,
                        dishName: this.newDishName,
                        dishPrice: this.newDishPrice
                    })
                    // this.canNameList.unshift(this.newCanName);
                    if (this.dishNameList.includes(this.newDishName) === false) {
                        this.dishNameList.unshift(this.newDishName);
                    }
                    // this.dishPriceList.unshift(this.newDishPrice);
                },
                deleteItem(index) {
                    this.list.splice(index, 1);
                    // this.canNameList.splice(index, 1);
                    // this.dishNameList.splice(index, 1);
                    // this.dishPriceList.splice(index, 1);
                },
                editItem(index) {
                    this.list[index].canName = window.prompt("Edit the canteen name of this item:", "New canteen name");
                    this.list[index].dishName = window.prompt("Edit the dish name of this item:", "New dish name");
                    this.list[index].dishPrice = window.prompt("Edit the dish price of this item:", "New dish price");
                    // this.canNameList[index] = window.prompt("Edit the canteen name of this item:", "New canteen name");
                    this.dishNameList[index] = this.list[index].dishName;
                    // this.dishPriceList[index] = window.prompt("Edit the dish price of this item:", "New dish price");
                },
                addToMyList(index) {
                    this.cartList.unshift({
                        canName: this.list[index].canName,
                        dishName: this.list[index].dishName,
                        dishPrice: this.list[index].dishPrice,
                        quantity: 1
                    })
                },
                removeCart() {
                    this.cartList = [];
                    this.total = 0;
                    this.result = 0;
                },
                calculateTotal() {
                    this.total += parseFloat(this.cartList[0].dishPrice) * parseInt(this.cartList[0].quantity);
                    this.result = parseFloat(this.total).toFixed(2);
                },
                removeFromList(index) {
                    this.total -= parseFloat(this.cartList[index].dishPrice) * parseInt(this.cartList[index].quantity);
                    this.result = parseFloat(this.total).toFixed(2);
                    this.cartList.splice(index, 1);
                    if (this.cartList.length == 0) {
                        this.result = 0;
                    }
                },
                subQuant(index) {
                    if (this.cartList[index].quantity > 1) {
                        this.total -= parseFloat(this.cartList[index].dishPrice) * 1;
                        this.result = parseFloat(this.total).toFixed(2);
                        this.cartList[index].quantity--;
                    }
                },
                addQuant(index) {
                    this.total += parseFloat(this.cartList[index].dishPrice) * 1;
                    this.result = parseFloat(this.total).toFixed(2);
                    this.cartList[index].quantity++;
                }
            }
        });
    </script>
</body>

</html>