<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - BBBootstrap</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <style>
        .login,
        .image {
            min-height: 100vh
        }
    
        .bg-image {
            background-image: url('https://res.cloudinary.com/dxfq3iotg/image/upload/v1561631318/img-123.jpg');
            background-size: cover;
            background-position: center center
        }
    </style>   
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript'></script>
</head>
<body>
<div class="container-fluid" id = "login">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-6 mx-auto">
                            <h3> Token:{{token}} </h3>
                            <h3 class="display-4">LOGIN  </h3> <br>
                            <form>
                                <div class="form-group mb-3"> <input id="inputEmail"  v-model="email" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                <div class="form-group mb-3"> <input id="inputPassword"  v-model="password" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"><br> </div>
                                <!--
                                <button @click.prevent() = "login()" type="submit" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p> OR &nbsp<a href=" " class="font-italic text-muted"> <u>Create Account</u></a></p> -->
                                </div>
                            </form>
                            <button @click= "signIn()" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                            <p> OR &nbsp<a href=" " class="font-italic text-muted"> <u>Create Account</u></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="./script/vue.js"></script>

<script>
    var vm = new Vue({
        el:"#login",
        data:{
            email:"",
            password:"",
            token:""
        },
        mounted() {
            this.getToken();
        },
        methods:{
            getToken(){
                this.token = localStorage.getItem('token')
            },
            signIn(){
                this.token = this.email + this.password;
                localStorage.setItem('token', this.token);
            }
        },
    })
</script>
</html>